# Dependencies
node_modules/
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.*.local

# EdgeOne
.edgeone/.token
.edgeone/auth.json

# Build output
dist/
build/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temp
.temp/

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  